<%- include('includes/header.ejs') %>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-9 d-flex justify-content-center align-items-center">
                <div class="w-100 text-center shadow form-box">
                    <div class="title my-4">We are sorry, the page you are looking for does not exist.</div>
                    <a href="/"><div class="my-2">Back To Technical Service Form</div></a>
                </div>
            </div>
        </div>
    </div>
    
<%- include('includes/footer.ejs') %>