<%- include('includes/header.ejs') %>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-7 d-flex justify-content-center align-items-center">
                <div class="w-100 border text-center mx-auto justify-content-center shadow form-box">

                    <% if(status === 'success') { %>
                    <div class="title my-4">
                        <div class="my-4">Thank you <span class="user"><%- name %></span> for submitting our form!</div>
                        <hr>
                    </div>
                    <div class="mt-5 mx-5 text-left px-3">
                        <div class="d-inline end-text">
                            The confirmation message has been sent to the given e-mail address with futher information.
                            Please check spam folder in your e-mail box if you cannot find the message.
                        </div>
                        <a href="/"><div class="mt-4 mb-2 text-center">Back To Technical Service Form</div></a>
                    </div>
                    <% } else if (!errors.length) { %>
                        <div class="title my-4">
                            <div class="my-4">Ooops, something went wrong.</div>
                            <hr>
                        </div>
                        <div class="mt-5 mx-5 text-left px-3">
                            <div class="d-inline end-text">
                                Unfortunately, something went wrong with our server and we couldn't send an email. Please, try again in next five minutes. Thank you for your patience.
                            </div>
                            <a href="/"><div class="mt-4 mb-2 text-center">Back To Technical Service Form</div></a>
                        </div>
                    <% } else { %>
                        <div class="title my-4">
                            <div class="my-4">Ooops, something went wrong.</div>
                            <hr>
                        </div>
                        <div class="mt-5 mx-5 text-left px-3">
                            <div class="d-inline end-text">
                                You have submitted with errors:
                                <% errors.forEach((error) => { %>
                                    <div><%- error %></div>
                                <% }) %>
                            </div>
                            <a href="/"><div class="mt-4 mb-2 text-center">Back To Technical Service Form</div></a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
<%- include('includes/footer.ejs') %>